<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>	
	<nav th:replace="fragments/nav" />
	<div class="container">
		<h2>Lista de pedidos no asignados</h2>
		
		<div class="table-responsive">
			<table class="table table-hover" th:fragment="tableListPedidos"
				id="tableListPedidos">
				<thead>
					<tr>
						<th>Fecha</th>
						<th>Tamaño</th>					
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="pedido : ${pedidosList}">
						<td th:text="${pedido.fecha}">Fecha pedido</td>
						<td th:text="${pedido.size}">Tamaño pedido</td>						

						<td sec:authorize="hasRole('ROLE_ALMACENERO')">
							<button type="button" th:id="${'asignarPedidoButton' + pedido.id}"
								class="btn btn-info">Asignarse pedido</button> <script
								th:inline="javascript">
								/*<![CDATA[*/
									$( "#asignarPedidoButton[[${pedido.id}]]").click(function(){
										var numberPage = [[${param.page}]];
										var urlUpdate = '/almacenero/asignar/[[${pedido.id}]]';
										if ( numberPage != null ){
											urlUpdate += "?page="+numberPage[0];
											}
										$("#tableListPedidos").load(urlUpdate);										
								});		
								/*]]>*/
							</script>
						</td>					
					</tr>
				</tbody>
			</table>
			<hr />
		</div>
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>